- content_for :page_title, "Posts by #{developer.username}"
%section#author.profile
  %header.page_head
    = image_tag "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest developer.email}"
    %h1
      #{pluralize developer.posts_count, "post"}
      by #{developer.username}
      - handle = developer.twitter_handle
      %hr
      - if handle
        = link_to "@#{handle}", "https://twitter.com/#{handle}", class: "author_twitter", target: "_blank"

= render posts
