.form_container
  = form_for @post do |f|
    .field{spellcheck: "true"}
      = f.label :title
      = f.error_message_on :title
      = f.text_field :title, placeholder: 'Enter title...'
    .field{spellcheck: "true"}
      = f.label :body
      = f.error_message_on :body
      #editor
      = f.text_area :body, placeholder: 'Enter body...', class: 'autosize'
    .field
      = f.label :channel_id
      = f.error_message_on :channel_id
      = f.collection_select :channel_id, sorted_channels, :id, :name, include_blank: ""
    - if @post.publishable?
      %label.checkbox
        = check_box_tag :published, "true", false
        = label_tag :published, 'Publish this post'
    .actions
      = f.submit 'Submit', class: "submit"
      = link_to 'cancel', root_path

  %script{src: '/assets/javascripts/ace-builds/ace.js'}

  :javascript
    var TIL = TIL || {}
    TIL.editor = "#{current_developer.editor}";
