%article.post{ :class => unless post.published? then 'draft' end, data: { title: post.title, url: post_url(post), path: post_path(post) } }
  %section
    .post__content.copy
      %h1= link_to post.title, post

      = find_and_preserve markdown_render post.body
      %p.footer
        - if content_for?(:social)
          %p.post__social= content_for :social
        %p
        Learned by
        = link_to post.developer_username, developer_path(post.developer)
        - unless post.published?
          (draft)
        on
        %span{title: post.created_at}
          = post.created_at.strftime("%b %-d, %Y")
    %aside
      %ul
        %li
          = link_to "##{post.channel_name}", post.channel, class: "post__tag-link"
        %li
          = link_to [post, format: 'md'], class: "post__raw-link", target: "_blank" do
            view raw
        %li
          = link_to post, class: 'post__permalink' do
            permalink
        - if editable?(post)
          %li
            = link_to "edit", [:edit, post], class: "post__edit-link"
        - unless post.draft?
          %li
            = link_to post_path(post), :class => (likeable?(post) ? 'js-like-action post__like-link' : 'js-nolike post__like-link'), id: post.slug do
              %span.post__like-count= post.likes
              %span.post__like-label likes

= content_for :post_nav

- if post.id.to_i.odd? || action_name == 'show'
  - if ad = Ad.random
    .magma_container
      = link_to(image_tag(ad.image_url), clicks_path(id: ad), method: :post)
