!!! 5
%html(lang="en-US")
  = render "layouts/head"

  %body
    - if logged_in?
      %nav.admin_panel
        %ul
          %li= link_to current_developer.username, current_developer
          %li= link_to "Log Out", signout_path, method: :delete
          %li= link_to "Create Post", new_post_path
          %li= link_to "Drafts", drafts_path
          %li= link_to "Profile", edit_profile_path

    %header.site_head
      %div
        %h1= link_to SITE_NAME, root_path
        %div.magma
          %span.by By
          = link_to image_tag('magma-logo.svg'), "https://magmalabs.io", title: 'Magma Labs home', class: "ml"

    = render 'shared/flash'

    %main= yield

    %nav.site_nav
      %ul
        %li.site_nav__login
          - if current_developer
            = link_to 'Log out', signout_path, method: :delete, class: 'site_nav__link site_nav__logout'
          - else
            = link_to 'Log in', signin_path, class: 'site_nav__link'

        %li.site_nav__about
          = link_to "?", "#", class: "site_nav__link"
          .site_nav__toggle
            .copy
              :markdown
                TIL is an open-source project by
                [MagmaLabs](https://magmalabs.io) that exists to catalogue
                the sharing & accumulation of knowledge as it happens
                day-to-day. Posts have a 200-word limit, and posting is open to
                any MagmaLaber as well as selected friends of MagmaLabs. We
                hope you enjoy learning along with us.
              %ul.social
                %li= link_to "/wearemagmalabs", "https://twitter.com/wearemagmalabs", class: "social_twitter", target: '_blank'

        %li.site_nav__statistics
          = link_to "statistics", statistics_path, class: "site_nav__link"

        %li.site_nav__search
          = link_to "search", "#", class: "site_nav__link"
          .site_nav__toggle>
            = form_tag root_path, method: 'get' do
              = search_field_tag :q
              = button_tag 'Search', name: nil

        %li.site_nav__twitter
          = link_to "Twitter", "https://twitter.com/wearemagmalabs", class: "site_nav__link", target: '_blank'